body{
    font-family: 'Poppins', sans-serif;
    background-color: black;
    
}

.container{
  background-color: black;
  display: flex;
    margin: auto;
    padding-bottom: 20%;
    padding-left: 0%;
    padding-right: 12%;
    padding-top: 5%;
    gap: 120px;
    
}

img{
    max-width: 100px;
    border-radius: 50%;
}

.main-txt{
    background-color: rgb(36, 32, 32);
    color: white;
    padding: 30px;
    border-radius: 20px;
    max-width: 900px;;
}

.menu-bar{
    background-color: rgb(36, 32, 32);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-left: 20px;
    padding: 10px;
    justify-content: space-around;
    align-items: center;
}

.menu-bar a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 10px;    
}

i{
    font-size: 40px;
}